div.vendor
	label Vendor Name
		br
		input(type="text", placeholder="Vendor Name", name="vendor_name[]")
	label Subject line
		br
		input(type="text", placeholder="Enter a subject line specific to this vendor", name="vendor_subject[]")
	a(href="#").remove-vendor
		i.icon-cancel-circled2 remove