@charset 'utf8';

a {
	text-decoration: none;
}

body {
	background: #dcdcdc;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	margin: 0;
	padding: 0;
}

button {
	background: #04373d;
	border: none;
	color: #FFF;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.1em;
	font-weight: 300;
	padding: .3em;
}

button:hover {
	background: #054147;
	cursor: pointer;
}

fieldset {
	border: none;
	padding: 0;
}

footer {
	background: #107d74;
	margin: 4em 0 0 0;
	padding: 2em 0;
}

footer p {
	color: #FFF;
}

h1,
h2,
h3 {
	font-weight: 300;
}

header {
	background: #04373d;
	padding: 0 0 2% 0;
}

header h1 {
	color: #FFF;
	display: inline-block;
}

header.home h1 {
	color: #FFF;
	display: block;
	font-size: 5em;
	margin: 0;
	text-align: center;
}

header.home img {
	float: none;
	display: block;
	margin: 0 auto;
	width: 198px;
}

header img {
	float: left;
	width: 60px;
}

i {
	font-style: normal;
}

input[type="file"] {
	background: #04373d;
	color: #FFF;
	margin: 0 0 1em 0;
	padding: .3em .5em;
}

label {
	display: block;
}

main {
	min-height: 100%;
}

nav {
	background: #107d74;
	text-align: right;
	margin: 0 0 1em 0;
	padding: 1em;
}

nav a {
	color: #FFF;
	display: inline-block;
	margin: 0 1em;
}

nav a.here,
footer a {
	color: #f4f69f;
}

nav.main {
	background: none;
	display: inline-block;
	margin-left: 4em;
	padding: 0;
	position: relative;
	top: -.3em;
	text-align: left;
}

nav.main .section {
	display: inline-block;
}

.cols-3 {
	background: none;
}

.cols-3 div {
	display: inline-block;
	text-align: center;
	width: 33%;
}

.cols-3 div a {
	display: block;
	color: #FFF;
}

.cols-3 div a:hover,
nav.main a:hover {
	color: #107d74;
}

.cols-3 div i {
	display: block;
	font-size: 5em;
}

.downloads {
	background: #f4f69f;
	border: 2px solid #f6ed6d;
	margin: 1em 0;
	padding: .5em 1em;
}

.downloads a {
	color: #139489;
}

.downloads a:hover {
	color: #04373d;
}

.downloads p {
	margin: 0;
	padding: 0;
}

.launch {
	background: #139489;
	border: none;
	color: #FFF;
	display: block;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.5em;
	padding: .25em .5em;
	margin: 2em  0 .5em 0;
}

.launch:after {
	content: '\e801';
	font-family: 'Fontello';
	padding: 0 0 0 .3em;
}

.launch:hover {
	background: #0f8076;
	cursor: pointer;
}

.left-col {
	display: block;
}

.right-col {
	display: block;
}

.vendor {
	background: #FFF;
	border: 1px solid #AAA;
	margin: 1em 0;
	padding: 1em;
	position: relative;
}

.vendor input {
	border: 1px solid #AAA;
	padding: .5em .3em;
	width: 95%;
}

.vendor .remove-vendor {
	color: #F00;
	font-size:.7em;
	position: absolute;
	top: 10px;
	right: 10px;
}

.wrapper {
	margin: 0 auto;
	max-width: 1200px;
	width: 90%;
}

@media screen and (min-width: 768px){
	.left-col {
		border-right: 1px solid #999;
		display: inline-block;
		padding-right: 5%;
		margin: 2em 4.8% 0 0;
		min-height: 500px;
		vertical-align: top;
		width: 60%;
	}

	.right-col {
		display: inline-block;
		vertical-align: top;
		width: 30%;
	}
}
