include template/page
	.left-col
		h2 Yep, we have a problem.
		p It's possible your page burned up on reentry. It's far more likely that you are looking for something that doesn't exist. Good luck, cadet.