doctype html
html
	head
		title #{title} | MailNaut
		link(rel='stylesheet', href='/css/fontello.css')
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans:400,300')
		link(rel='stylesheet', href='/css/style.css')
	body
		include includes/header
		section.wrapper
			.left-col
				h2 Yep, we have a problem.
				p It's possible your page burned up on reentry. It's far more likely that you are looking for something that doesn't exist. Good luck, cadet.