include template/page
	.left-col
		h2 MAYDAY!
		p Your request produced an error. The output is listed below.

		pre {#error}

		p
			a(href="https://github.com/DocWatson/mailnaut/issues") Report it on GitHub
