doctype html
html
	head
		title #{title} | MailNaut
		link(rel='stylesheet', href='/css/fontello.css')
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans:400,300')
		link(rel='stylesheet', href='/css/style.css')
	body
		include includes/header
		section.wrapper
			h2 Welcome to MailNaut

			p MailNaut is a simple web application design to make email campaigns a little bit easier. It automates a few things like generating text versions and inserting UTM variables, which should greatly reduce the time it takes you to make, generate, and maintain your various email campaigns. Get started using the controls above.



			