doctype html
html
	head
		title #{title} | MailNaut
		link(rel='stylesheet', href='/css/fontello.css')
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans:400,300')
		link(rel='stylesheet', href='/css/style.css')
	body
		include includes/header
		section.wrapper
			.left-col
				h2 Check Links
				form
					fieldset
						input(type="file", value="Upload HTML File").file-upload

						input(type="submit", value="Launch Link Check").launch

						label(for="link-list") Links Discovered:
						textarea(rows=20, cols=75)#link-list

			.right-col
				h3 How to Use
				ol
					li Upload HTML File
					li MailNaut will parse the file and look for links
					li After reading the file, MailNaut will show you the links so you can easily review them.