include template/page
	.left-col
		h2 Create Plaintext Version
		form(action="/plaintext/generate", method="post", enctype="multipart/form-data",name="mailnautForm", rel="plaintext")
			fieldset
				input(type="file", name="htmlUpload", value="Upload HTML File").file-upload

				button(type="submit").launch Launch

				if (output)
					label(for="output") Plaintext Output:
					textarea(rows=50, cols=75)#output #{output}

	.right-col
		h3 How to Use
		ol
			li Upload HTML File
			li MailNaut will remove all HTML and create a plaintext version
			li Download your .txt file
