doctype html
html
	head
		title #{title} | MailNaut
		link(rel='stylesheet', href='/css/fontello.css')
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans:400,300')
		link(rel='stylesheet', href='/css/style.css')
	body
		include includes/header
		section.wrapper
			.left-col
				h2 Insert UTM Values
				form
					fieldset
						input(type="file", value="Upload HTML File").file-upload
						h3 Specify vendors
						div.vendor
							label Vendor Name
								br
								input(type="text", placeholder="Vendor Name", name="vendor_name[]")
							label Subject line
								br
								input(type="text", placeholder="Enter a subject line specific to this vendor", name="vendor_subject[]")
							a(href#).remove remove
						input(type="button", value="Add Another Vendor")


						input(type="submit", value="Launch").launch

			.right-col
				h3 How to Use
				ol
					li Upload HTML File
					li Specify your vendors
						p If you wish to use a custom subject line for any vendor, please provide. Otherwise, the default will be used (MailNaut will use the HTML file's title attribute as the subject by default.)
					li MailNaut will update all of the links according to your vendor specifications
					li MailNaut will create a downloadable zip of the updated templates and their respective text versions